.picks-hide {
  display: none;
}

.user-highlight {
  background-color: #5bc0de;
}

.picksApp h2 {
  font-size: 1.5em;
}

.picksApp .picks-header {
  margin: 10px;
}

.lead {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4;
}